header.header {
  padding: 1rem;
  background-color: var(--primary);
  color: var(--white);
  display: flex;
  flex-direction: row;
}

.logo {
  height: 3rem;
  padding-right: 0.5rem;
}

.siteName {
  width: 10rem;
}
